In [7]:
import pandas as pd
from datetime import datetime

In [2]:
data = pd.read_csv("iot_telemetry_data.csv")
data.head(5)

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,1.594512e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.594512e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.594512e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.594512e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000

In [3]:
data.isnull().sum()

ts          0
device      0
co          0
humidity    0
light       0
lpg         0
motion      0
smoke       0
temp        0
dtype: int64

In [31]:
df = data

In [32]:
# unit='s' to convert it into epoch time
df['datetime'] = pd.to_datetime(df['ts'], 
                                  unit='s')
  
# checking our dataframe once again
display(df)

,ts,device,co,humidity,light,lpg,motion,smoke,temp,datetime
0,1.594512e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000,2020-07-12 00:01:34.385974528
1,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001,2020-07-12 00:01:34.735567616
2,1.594512e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000,2020-07-12 00:01:38.073572864
3,1.594512e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000,2020-07-12 00:01:39.589145856
4,1.594512e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000,2020-07-12 00:01:41.761234944
...,...,...,...,...,...,...,...,...,...,...
405179,1.595203e+09,00:0f:00:70:91:0a,0.003745,75.300003,False,0.006247,False,0.016437,19.200001,2020-07-20 00:03:33.162014976
405180,1.595203e+09,b8:27:eb:bf:9d:51,0.005882,48.500000,False,0.008660,False,0.023301,22.200000,2020-07-20 00:03:33.576560640
405181,1.595203e+09,1c:bf:ce:15:ec:4d,0.004540,75.699997,True,0.007181,False,0.019076,26.600000,2020-07-20 00:03:36.167959296
405182,1.595203e+09,00:0f:00:70:91:0a,0.003745,75.300003,False,0.006247,False,0.016437,19.200001,2020-07-20 00:03:36.979521536
405183,1.595203e+09,b8:27:eb:bf:9d:51,0.005914,48.400000,False,0.008695,False,0.023400,22.200000,2020-07-20 00:03:37.264312576

In [34]:
# There are 3 device id's with 7 columns hence 21 sensors
df['device'].unique()

array(['b8:27:eb:bf:9d:51', '00:0f:00:70:91:0a', '1c:bf:ce:15:ec:4d'],
      dtype=object)

In [42]:
grouped = df.groupby('device')

In [43]:
for name, group in grouped:
    print(name)

00:0f:00:70:91:0a
1c:bf:ce:15:ec:4d
b8:27:eb:bf:9d:51

In [61]:
site1 = grouped.get_group('00:0f:00:70:91:0a')

In [62]:
site2 = grouped.get_group('1c:bf:ce:15:ec:4d')

In [63]:
site3 = grouped.get_group('b8:27:eb:bf:9d:51')

In [67]:
print(site1['co'].max())
print(site1['co'].min())

0.0144201053045069
0.0011705085484379